@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: black;
  font-family: 'Anton', sans-serif;
  color: white;
  text-transform: uppercase;
  border-top: 20px white solid;
}

h1 {
  font-size: 150px;
  text-align: center;
  margin: -30px 0 -45px 0;
}

h3 {
  text-align: center;
  margin: 0 0 -10px 0;
  font-size: 30px;
}

body {
  height: 100vh;
  margin: 0;
  
}

.grid-wrapper {
  height: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 20px white solid;
}


.score, .lives {
  position: absolute;
  top: 0;
  padding: 5px;
  margin: 0;
  font-size: 20px;
}

.score {
  left: 30px;
}

.lives {
  right: 30px;
}

.side-images {
  position: absolute;
  height: 690px;
  width: 358px;
  z-index: 0;
/*   display: none; */
}

.side-images img {
  max-width: 100%;
  max-height: 100%;
}

#ct-face-right {
  right: 0;
}

#sa-face-left {
  left: 0;
}



.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 650px;
  height: 650px;
  min-width: 650px;
  z-index: 1;
  background-color: rgba(138, 132, 132, 0.37);
  position: relative;
  border: 5px white double;
  border-radius: 2%;
}



.grid div {
  /* border: 1px solid rgb(248, 244, 244); */
  height: calc(100% / 14);
  width: calc(100% / 14);
  color: white
}

.grid div.player {
  background-image: url('../assets/Castor_shooting.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.enemy {
  background-image: url('../assets/officer_shooting.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.dead-enemy {
  background-image: url('../assets/officer_dead.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.crate {
  background-image: url('../assets/crate.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.crate-broken {
  background-image: url('../assets/crate_broken.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.player-shot {
  background-image: url('../assets/player_shot.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.enemy-shot {
  background-image: url('../assets/enemy_shot.png');
  background-repeat: no-repeat;
  background-size: contain;
}


/*
@media screen and (max-width: 700px) {
  h1 {
    font-size: 50px;
  }
  
  .grid div {
    height: 10%;
    width: 10%;
  }

  .grid {
    width: 325px;
    height: 325px;
    min-width: 325px;
  }

  .grid-wrapper {
    height: 340px;
    justify-content: center;
    align-items: center;
  }

  .side-images {
    Display: none;
  }
}
*/